.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 25%;

  div {
    width: 30%;

    img {
      margin-top: 25px;
    }
  }
}
